%h2 Login

= form_tag '/login', :method => :post do
  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = label :user, :password, 'Password'
  = password_field :user, 'password'

  = submit_tag 'Login'