%h3 Details about #{@student.name + ' ' + @student.lastname}

%ul#details
  %li
    Name:
    = @student.name
  %li
    Last name:
    = @student.lastname
  %li
    Email:
    = @student.email

%div
  = link_to 'Edit Student', edit_student_path(@student)
  = link_to 'Back to students list', students_path
= link_to 'Delete', student_path(@student), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn btn-danger'