- unless @instructor.errors.empty?
  %div.alert.alert-danger
    Errors prevented instructor details from being #{controller.action_name}d:
    %ul
      - @instructor.errors.full_messages.each do |error|
        %li= error

%div.row
  %div.col-md-4
    %h2 Edit Profile

    = form_tag instructor_path(@instructor), :method => :put do

      %div.form-group
        = label :instructor, :name, 'Name'
        = text_field :instructor, 'name', class: "form-control"
      %div.form-group
        = label :instructor, :lasname, 'Last Name'
        = text_field :instructor, 'lastname', class: "form-control"
      %div.form-group
        = label :instructor, :email, 'Email'
        = text_field :instructor, 'email', class: "form-control"
      %div.form-group
        = label :instructor, :password, 'Password'
        = password_field :instructor, 'password', class: "form-control"
      %div.form-group
        = submit_tag 'Update', :class => 'btn btn-primary'