- unless @enrollment.errors.empty?
  %div.alert.alert-danger
    Errors prevented this course from being #{controller.action_name}d:
    %ul
      - @enrollment.errors.full_messages.each do |error|
        %li= error

%div.row
  %div.col-md-4

    = form_tag course_enrollments_path(@course) do

      %div.form-group
        = label :enrollment, :name, 'Student'
        %select{name: :student, class: "form-control" }
          - @students.each do |student|
            %option{:name => student.name + ' ' + student.lastname, :value=> student.id}="#{student.name + ' ' + student.lastname}"

      %div.form-group
      = submit_tag 'Add Student', :class => 'btn btn-primary'
