%h3 Details about #{@course.name}

%ul#details
  %li
    Code:
    = @course.code
  %li
    Name:
    = @course.name
  %li
    Semster:
    = @course.semester
  %li
    Catalog Data:
    = @course.catalog_data

%div
  - if session[:user_type] == 'instructor'
    = link_to 'Edit Course', edit_course_path(@course)
    = link_to 'Show Enrolled Students', course_enrollments_path(@course)
  = link_to 'Back to course list', courses_path
  = link_to 'Show Assessment Items', course_assessments_path(@course)

- if session[:user_type] == 'instructor'
  = button_to 'Delete', course_path(@course), method: :delete, data: { confirm: "Are you sure?" }, :class => 'btn btn-danger'
